$base-font-size: 1.5;
$base-min-width: 250;

@media 
(-webkit-min-device-pixel-ratio: 3), 
(min-resolution: 288dpi)
{ 
    .button.is-large
	{
		min-width: #{$base-min-width * 3}px !important;
		font-size: #{$base-font-size * 3.5}rem !important;
	}
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi)
{ 
    .button.is-large
	{
		min-width: #{$base-min-width * 2}px !important;
		font-size: #{$base-font-size * 2.5}rem !important;
	}
}

@media 
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi){ 
    .button.is-large
	{
		min-width: #{$base-min-width * 1.25}px !important;
		font-size: #{$base-font-size * 1.5}rem !important;
	}
}

/* 1.3 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.3), 
(min-resolution: 124.8dpi){ 
    .button.is-large
	{
		min-width: #{$base-min-width * 1.3}px !important;
		font-size: #{$base-font-size * 2}rem !important;
	}
}

/* 1.5 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){ 
    .button.is-large
	{
		min-width: #{$base-min-width * 1.5}px !important;
		font-size: #{$base-font-size * 2.5}rem !important;
	}
}
